@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@100&display=swap');

/* Main Page*/
.iniclass {
    background-color: #2E3440;
}
.container {
    height: 963px;
    position: relative;
    border: 2px solid white;
    /* border-radius: 7px; */
}

#font {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 25pt;
    letter-spacing: 7px;
}

.font-position {
    margin: 0;
    position: absolute;
    top: 4%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.typewrite {
    color: #ECEFF4;
}

#editable-content {
    /* Styiling */
    text-align: center;
    color:#ECEFF4;
    font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    position: relative;
    letter-spacing: 7px;
    width: 1080px;
    min-height: 0px;
    max-height: 40px;
}

#clock {
    margin: -2%;
    text-align: center;
    font-size: 5vw;
    color: #ECEFF4;
    font-family: 'Roboto', sans-serif;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/* 
.clock-center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
} */

#logo {
    width: 30pt;
}

.logo-position {
    margin: 0;
    position: absolute;
    bottom: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}